@import "../../app/values.scss";

.lastTests {
    padding: 50px;

    .container {
        h1 {
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin-top: 35px;

        &__card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px 10px;

            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__testCompleted {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            &__name {
                margin: 10px 0;
            }

            &__description {
                font-size: 15px;
            }
        }
    }

    .reviews__card__user {
        display: flex;
        align-items: center;

        &__avatar {
            margin-right: 10px;
        }

        &__name {
            font-size: 15px;
            font-weight: 700;
        }

        &__rewDate {
            font-size: 10px;
            color: $gray;
        }
    }

    .buttonCWrapper {
        margin-top: 20px;
    }

    .orangeBtn {
        padding: 18px 30px;
    }
}
