@import "values.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fce1e1;
    font-size: 20px;
}

h1,
.h1 {
    font-size: 35px;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 30px;
    font-weight: 600;
}

.container {
    max-width: 1365px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: gray;
}

.orangeBtn {
    background-color: $orange;
    font-size: 15px;
    color: black;
    width: fit-content;
    border: none;
    transition: background-color 0.3s ease;
}

.orangeBtn:hover {
    background-color: darken($orange, 10%);
    cursor: pointer;
}

.buttonCWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    padding: 10px;
    border-radius: 5px;
    background-color: $lightGray;
    border: none;
    width: 500px;
}