@import '../../app/values.scss';

.footer {
    background-color: $gray;
    padding: 25px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__navs, &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__socials {
        margin-left: 50px;
    }

    &__leftWrapper {
        display: flex;
        align-items: center;
    }
}