@import '../../app/values.scss';

.header {
    background-color: #fff;
    border-bottom: 3px solid $gray;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.25);

    .container {
        padding: 25px 0;
        display: flex;
        align-items: center;
    }

    &__navs,
    &__login__navs {
        display: flex;
        gap: 35px;
    }

    .header__input__wrapper {
        position: relative;
        margin: 0 35px 0 60px;
    }

    &__input {
        background-color: #d3d3d3;
        padding: 8px 8px 8px 60px;
        border: none;
        width: 447px;

        &__decoration {
            position: absolute;
            top: 3px;
            left: 8px;
        }
    }

    &__socials {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 35px;
    }
}
