.aboutUs {
    padding: 50px 0;

    .container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 20px;
    }
    
    &__offerList {
        margin-left: 20px;
    }

    &__title {
        margin-top: 35px;
    }

    &__content {
        margin-top: 25px;
    }
}